@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#game {
    width: 100vw;
    height: 100vh;
}

button {
    display: block;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
}

p {
  text-align: center;
  font-size: 40px;
  font-family: 'Langar', cursive;
}

.Top {
    width: 0;
    height: 0;
    border-left: 15vmin solid transparent;
    border-right: 15vmin solid transparent;
    cursor: pointer;
}

.Bottom {
    width: 0;
    height: 0;
    border-left: 15vmin solid transparent;
    border-right: 15vmin solid transparent;
    cursor: pointer;
}

.Right {
    width: 0;
    height: 0;
    border-top: 15vmin solid transparent;
    border-bottom: 15vmin solid transparent;
    cursor: pointer;
}

.Left {
    width: 0;
    height: 0;
    border-top: 15vmin solid transparent;
    border-bottom: 15vmin solid transparent;
    cursor: pointer;
}

h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgb(43, 62, 63);
}